.con-conexion,
.sin-conexion {
  color: #222;
  background-color: rgb(91, 250, 62);
  text-align: center;
  width: 100%;
  font-size: 23px;
  padding: 1%;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 996;
  transition: background-color 0.5s ease;
}

.sin-conexion {
  background-color: rgb(255, 51, 51);
}
